body {
    background-color: lightblue;
    font-family: Verdana, sans-serif;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

ul {
    list-style-type: square;
    font-size: 18px;
}

a {
    color: green;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}